@{
    ViewData["Title"] = "Car Dealership App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Dealership App</h1><br />
    <p>This app is made to resemble a car dealership management system. It includes a database for managing cars in the dealership.</p>
    <p>The admin user can edit, delete, and insert cars, as well as view details about existing ones.</p>
    <p>Additionally, the admin can filter cars by searching for their manufacturer (by make).</p>
</div>

